
<% if action == :show %>
    <li> <a href="<%= cats_url %>"> Cats Index </a>  </li>
    <% else %>
    <li> <a href="<%= cat_url(cat.id) %>"> Show Cat </a> </li>
<% end %>

<ul>
    <li> <%= cat.id %> </li>
    <li> <%= cat.name %> </li>
    <li> <%= cat.sex %> </li>
    <li> <%= cat.color %> </li>
    <li> <%= cat.birth_date %> </li>
    <li> <%= cat.description %> </li>
</ul>

